name: html-parser package
on:
  push:
    branches:
      - main

jobs:
  build-test-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4.0.3
        with:
          node-version: 22.x
          registry-url: "https://registry.npmjs.org/"

      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun i

      - name: Run tests
        run: bun test --concurrent

      - name: Check version
        id: check
        run: bun check-versions.ts
        continue-on-error: true

      - name: Publish to npm
        if: steps.check.outcome == 'success'
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
